
<form [formGroup]="createForm" class="mx-auto"   (ngSubmit)="onSubmit()">

    <div><p></p></div>
    <div class="form-group">
        <label for="disabledTextInput"> Id </label>
        <input type="number" class="form-control" placeholder="Id" formControlName="id">
    </div>
    <div class="form-group">
        <label for="disabledTextInput"> Nombre </label>
        <input type="text" class="form-control" placeholder="nombre" formControlName="nombre" >
    </div>
    <div class="form-group">
        <label for="disabledTextInput"> Descripción </label>
        <input type="text" class="form-control" placeholder="descripcion" formControlName="descripcion" >
    </div>
    <div class="form-group">
        <label for="disabledTextInput"> Canciones </label>
        <input type="text" class="form-control" placeholder="id de las canciones" formControlName="canciones">
    </div>
    
    <div class="col text-center">
        <button type="submit" class="btn btn-primary">Crear lista</button>
    </div>
    
  </form>
