<nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">

    <div class="navbar-expand-lg navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-item nav-link active" (click)="goToHome()"> Home </a>
        <a class="nav-item nav-link active" (click)="goToCancion()"> Music </a>
        <a class="nav-item nav-link active" (click)="goToLists()"> Lists </a>       
        <a class="nav-item nav-link active" (click)="goToCrearCancion()"> AddMusic </a>       
        <a class="nav-item nav-link active" (click)="goToCrearLista()"> AddList </a>   
      </div>
    </div>
  </nav>

